*{
  font-family: 'DotGothic16', sans-serif;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.main{
  text-align: center;
  
}

.work ,.why ,.passion,.profile-list{
  margin-top:10rem;
  
} 


.profile{
  margin-top: 25rem;
}

h2,ul,p{
  text-align:left;
  margin: 0 25vh; 
}

p{
  padding-left: 2rem;
}

.greeting-p,.comment-p,.why-p2{
  text-align:unset;
}

.greeting-h1{
  margin-top:  10rem;
  margin-bottom: 3rem;
}

.introimg {
  height: 30rem;
  width: auto;
  margin:10%;
}
.greeting-p ,.work-p,.why-p,.passion-p,.comment-p{
  margin-top: 6rem;
}

#proimg{
  margin-top: 5em;
  border-radius:50%;
  width: 30rem;
  height: auto
}

ul{
list-style: none;

}

.form-group {
  width: 25vh;
}


/* responsive */

  @media(max-width:845px){
  html{
  font-size: 87.5;
}
h2,ul,p{
  margin: 0 auto; 
}

.work ,.why ,.passion,.profile-list{
  margin-top:5rem;
} 

.profile{
  margin-top: 13rem;
}
.introimg {
  height: 12rem;
}

#proimg{
  width: 15rem;
}
 } 

 /* @media(max-width:600px){
  html{
  font-size: 87.5;
}
h2,ul,p{
  margin: 0 auto; 
}

.work ,.why ,.passion,.profile-list{
  margin-top:5rem;
} 

.profile{
  margin-top: 13rem;
}
.introimg {
  height: 12rem;
}

#proimg{
  width: 15rem;
}
 }  */